<%- include('./partials/head') %>

<body class="bar-page">
  <header>
    <a href="/" class="back">
      <img src="img/back-button.png" srcset="img/back-button.webp" alt="back arrow" />
    </a>
    <h1>ILOJO BAR</h1>
  </header>
  <main>
    <ul class="bar-area">
      <li>
        <img src="img/lamps.png" srcset="img/lamps.webp" alt="Lamps on top of the bar" class="lamps" />
      </li>
      <li>
        <p>Want to hear a story? Choose a story on the menu!</p>
      </li>
      <li>
        <img src="img/barman.png" srcset="img/barman.webp" alt="Barman" class="man" />
      </li>
      <li>
        <img src="img/bar.png" srcset="img/bar.webp" alt="Bar with drinks" class="bar" />
      </li>
      <li>
        <img src="img/stools.png" srcset="img/stools.png" alt="Stools to sit on" class="stools" />
      </li>
    </ul>
  </main>
  <footer>
    <ol class="menu">
      <li>
        <legend>Swipe to discover!</legend>
        <img src="img/swipe.png" srcset="img/swipe.webp" alt="swipe icon">
      </li>
      <% stories.forEach(story => { %>
      <% let storyTitle = story.title.split(' ').join('_').toLowerCase() %>
      <li>
        <img src="<%= story.img %>" alt="<%= storyTitle %>">
        <a href="/<%= storyTitle %>"><h2><%- story.title %></h2></a>
        <a href="/<%= storyTitle %>">Discover</a>
      </li>
      <% }) %>
    </ol>
    <img src="img/hands.png" srcset="img/hands.webp" alt="hands that hold the menu" />
  </footer>

  <%- include('./partials/foot') %>
