<%- include('partials/header.ejs') %>
    
    <a href="/timeline">< Back</a>
    <h1><%- ctx.prismicH.asText(storyData.title) %></h1>
    <%- ctx.prismicH.asHTML(storyData.text) %>

    <img src="<%- storyData.image1.url %>" alt="" width="100%">
    <img src="<%- storyData.image2.url %>" alt="" width="100%">
    <img src="<%- storyData.image3.url %>" alt="" width="100%">
    <img src="<%- storyData.image4.url %>" alt="" width="100%">
    <img src="<%- storyData.image5.url %>" alt="" width="100%">
    <img src="<%- storyData.image6.url %>" alt="" width="100%">
    <img src="<%- storyData.image7.url %>" alt="" width="100%">

<%- include('partials/foot.ejs') %>