<%- include('partials/header.ejs') %>
    
    <a href="/timeline">< Back</a>

    <div>
        <img src="<%- storyData.image1.url %>" alt="" width="100%">
    </div>
    
    <h1><%- ctx.prismicH.asText(storyData.title) %></h1>
    <%- ctx.prismicH.asHTML(storyData.text) %> 

    <div>
    <img src="<%- storyData.image2.url %>" onerror="this.style.display='none'" alt="" width="100%">
    </div>

    <div>
    <img src="<%- storyData.image3.url %>" onerror="this.style.display='none'" alt="" width="100%">
    </div>

    <div>
    <img src="<%- storyData.image4.url %>" onerror="this.style.display='none'" alt="" width="100%">
    </div>

    <div>
    <img src="<%- storyData.image5.url %>" onerror="this.style.display='none'" alt="" width="100%">
    </div>

    <div>
    <img src="<%- storyData.image6.url %>" onerror="this.style.display='none'" alt="" width="100%">
    </div>

    
    <div>
    <img src="<%- storyData.image7.url %>" onerror="this.style.display='none'" alt="" width="100%">
    </div>
    


</main>
<script type="module" src="/scripts/modules/observer.js"></script>

<%- include('partials/foot.ejs') %>