<%- include('./partials/head') %>

<body class="story-page">
    <header>
        <a href="/bar" class="back">
            <img src="img/back-button.png" srcset="img/back-button.webp" alt="back arrow" />
        </a>
        <img
          src="img/wood-sign.png" srcset="img/wood-sign.webp" alt="wooden ilojo bar sign attached to ropes" class="wood-sign">
        <% let storyTitle = singleStory.title.split(' ').join('_').toLowerCase() %>           
        <h1><%- singleStory.title %></h1>
    </header>
    <main>
        <% singleStory.text.forEach(paragraph => { %>
        <p><%- paragraph.text %></p>
        <% }) %>
        <img src="<%- singleStory.images[0].url %>" onerror="this.style.display='none'" alt="">
        <img src="<%- singleStory.images[1].url %>" onerror="this.style.display='none'" alt="">
        <img src="<%- singleStory.images[2].url %>" onerror="this.style.display='none'" alt="">
        <img src="<%- singleStory.images[3].url %>" onerror="this.style.display='none'" alt="">
        <img src="<%- singleStory.images[4].url %>" onerror="this.style.display='none'" alt="">
        <img src="<%- singleStory.images[5].url %>" onerror="this.style.display='none'" alt="">
        <img src="<%- singleStory.images[6].url %>" onerror="this.style.display='none'" alt="">
    </main>

<%- include('./partials/foot') %>