<%- include('partials/header.ejs') %>
    <ul>
        <% allStories.forEach( (item, i) => { %>
            <li>
                <h3><%- item.data.year[0].text %></h3>
                <img src="<%- item.data.image1.url %>" alt="" width="100%">
                <a href="/timeline/<%- item.uid %>">Read the story ></a>
            </li>
        <% }) %>
<<<<<<< Updated upstream
        <li>
            <a href=""></a>
            <img src="images/" alt="">
=======

        <li> 
            <a href="/send">Write your own story</a>
            <img src="/images/boek-standaard.png" alt="book">
>>>>>>> Stashed changes
        </li>
    </ul>
    

    <!-- floor -->
    <div></div>
</main>
<%- include('partials/foot.ejs') %>