<%- include('partials/header.ejs') %>

    <ul>
        <% allStories.forEach( (item, i) => { %>
            <li>
               <a href="/timeline/<%- item.uid %>"> <%- i + 1 %>. 
                    <%- item.data.title[0].text %>
                    <p><%- item.data.text[0].text %></p>
                    <img src="<%- item.data.image1.url %>" alt="" width="100%">
                </a>
            </li>
        <% }) %>
    </ul>
    

<%- include('partials/foot.ejs') %>